################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TelegramBot/.vs/TelegramBot.slnx/FileContentIndex/b0957492-abaf-4f2f-abc5-72c965f02d12.vsidx
/TelegramBot/.vs/TelegramBot.slnx/FileContentIndex/98c2819e-7474-411b-937e-e669ce40942f.vsidx
